:host {
    &.c-sort-item {
        margin-right: 50px;
    }
    .sasa {
        margin-top: 50px;
    }
    .mat-raised-button {
        line-height: 46px !important;
        border-radius: 8px;
        font-size: 17px !important;
    }
}