/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hakan {
    margin-top: 40px;
    border-radius: 8px !important;
    border: 1px solid #bbbbbb;
    .mat-list-text {
        padding-right: 45px !important;
    }
    .mat-list-option {
        height: 35px !important
    }
}

@media only screen and (max-width: 1200px) {
    app-item-list {
        width: 90% !important;
        margin: auto;
    }
}