/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-panel {
    .apsiyon-blue {
        .mat-checkbox-background {
            background-color: transparent !important;
        }
    }
    margin-top: 40px;
    border-radius: 8px !important;
    border: 1px solid #bbbbbb;
    .mat-list-text {
        padding-right: 45px !important;
    }
    .mat-list-option {
        height: 35px !important
    }
}

.absolute {
    margin-left: 0px;
    margin-top: 37px;
    border: 1px solid;
    mat-checkbox {
        .mat-checkbox-inner-container {
            width: 22px;
            height: 22px;
            border: inherit
        }
        &.mat-accent {
            background: inherit;
            background-color: inhreit;
        }
        .mat-checkbox-frame {
            border-style: inherit;
            border-width: inherit;
        }
    }
    .mat-accent {
        background: inherit;
        background-color: inhreit;
    }
    #mat-checkbox-1 {
        .mat-checkbox-inner-container {
            background-color: #C19C71;
        }
    }
    #mat-checkbox-2 {
        .mat-checkbox-inner-container {
            background-color: #BBBBBB;
        }
    }
    #mat-checkbox-3 {
        .mat-checkbox-inner-container {
            background-color: #8CB0C3;
        }
    }
    .theme-change {
        width: 300px;
        position: fixed;
        top: 100px;
        left: 0px;
        &__panel {
            text-align: center;
            display: block;
            padding: 20px 40px 40px 40px;
        }
        &__boxes {
            display: flex;
            justify-content: space-between;
            .mat-accent {
                background: inherit !important;
            }
            .mat-checkbox-background {
                background-color: transparent !important;
            }
        }
        &__title {
            flex: 1;
            margin-bottom: 20px;
            display: block;
            color: #666;
        }
        button {
            background: #fff;
            color: #333;
            border: 1px solid #333;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    app-item-list {
        width: 90% !important;
        margin: auto;
    }
}