:host {
    display: block;
    width: 1366px;
    margin: auto;
    mat-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #bbbbbb;
        border-radius: 8px;
        margin: 10px 0px;
        padding: 18px;
        .mat-card-title,
        .mat-card-content {
            margin-bottom: 0px;
        }
    }
}